<!-- <ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-title> {{ viewTitle | titlecase }} </ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button [disabled]="isToday" (click)="today()">Hoy</ion-button>
        <ion-button (click)="changeMode('month')">Mes</ion-button>
        <ion-button (click)="changeMode('week')">Semana</ion-button>
        <ion-button (click)="changeMode('day')">Día</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


    <button ion-button (click)="loadEvents()">Ver eventos</button>-->
<!--
<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <calendar [eventSource]="eventSource" 
          [calendarMode]="calendar.mode" 
          [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)" 
          (onEventSelected)="onEventSelected($event)" 
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>

</ion-content>
(onRangeChanged)="reloadSource(startTime, endTime)"-->

<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Calendario
    </ion-title>

  </ion-toolbar>
</ion-header>
 

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Día</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only" color="tertiary"></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle | titlecase }}</h2>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"  color="tertiary"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
 
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"
  >
  </calendar>
 
</ion-content>